body {
  background-color: white;
  font-family: 'Roboto' sans-serif;
 margin: auto 0;
width: 1280px;
}


.item-bubble1 {
  background-color: #FFC6C6;
  width: 764px;
  height: 320px;
  z-index: 3;
  left: 431px;
  top: 0px;
    position: absolute;
}

.item-bubble2 {
  background-color: #FFFF;
  width: 429px;
  height: 160px;
  z-index: 4;
  left: 235px;
  top: 480px;

    position: absolute;
}

.item-bubble3 {
  background-color: #FFC6C6;
  width: 427px;
  height: 160px;
  z-index: 5;
  left: 693px;
  top: 640px;
    position: absolute;
}

.item-bubble4 {
  background-color: #FFC6C6;
  width: 894px;
  height: 320px;
  z-index: 6;
  left: 321px;
top: 960px;
  position: absolute;
}

.item-bubble5 {
  background-color: #FFFF;
  width: 897px;
  height: 320px;
  z-index: 7;
  left: 159px;
  top: 1280px;
  display: inline-block;
  position: absolute;
}

.item-bubble6 {
  background-color: #FFC6C6;
  width: 674px;
  height: 160px;
  z-index: 8;
  left: 321px;
  top: 1600px;
    display: inline-block;
    position: absolute;
}

.item-bubble7 {
  background-color: #FFFF;
  width: 893px;
  height: 248px;
  z-index: 9;
  left: 161px;
  top: 1760px;
  display: inline-block;
  position: absolute;
}


.grid-container1 {

  z-index: 1;
  height: 960px;

  display: grid;
  grid-template-columns: repeat(8, 1fr) ;
  grid-template-rows: repeat(14, 1fr)
  justify-content: left;
}

.grid-item1 {

  width: 160px;
  height: 160px;
}

.grid-2 {
  height: 320px;
  width: 640px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  z-index: 10;
  position: relative;

}


.grid-item2 {
position: relative;
display: inline-block;
justify-content: center;
  width: 320px;
  height: 335px;
}


#image1 {
  position: a;
  width: 64.23px;
  height: 94px;
  justify-content: center;
  display: inline-block;
  animation-name: moving;

}

@@keyframes moving {

}

#image2 {
  position: absolute;
  width: 81px;
  height: 79.15px;
  justify-content: center;
  display: inline-block;
}

#image3 {
  position: absolute;
  width: 141.46px;
  height: 215.3px;
  justify-content: center;
  display: inline-block;
}


#image4 {
  position: absolute;
  width: 220.17px;
  height: 215.15px;
  justify-content: center;
  display: inline-block;
}

#image5 {
  position: absolute;
  justify-content: center;
  display: inline-block;

}

#image6 {
  position: absolute;
  width: 141.46px;
  height: 215.3px;
  justify-content: center;
  display: inline-block;
}

#image7 {
  position: absolute;
  justify-content: center;
  display: inline-block;

}

#image8 {
  position: absolute;
  width: 185.57px;
  height: 215.41px;
  justify-content: center;
  display: inline-block;
}

#image9 {
  position: absolute;
  justify-content: center;
  display: inline-block;
}

#image10 {
  position: absolute;
  width: 220.17px;
  height: 215.15px;
  justify-content: center;
  display: inline-block;
}
